#conteneur {
    width: 500px;
    height: 300px;
    /* background-color: black; */
    background: linear-gradient(90deg, black 50%, yellow 50%);
    text-align: center;
    position: relative;

    box-shadow: 2px 3px 0px #333;
    border-radius: 5px;
    /* margin: ; */

}

#titre {
    color: yellow;
    position: absolute;
    left: 200px;
    top: 100px;
    transform: translate(-50px, -100px);
    text-transform: uppercase;
    mix-blend-mode: difference;
    font-size: xx-large;
    font-family: "Russo one", cursive;

    animation-name: deplacer;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes deplacer {
    0%{
        transform: translate(-200px, -130px);
    }
    20%{
        transform: translate(-100px, 0px);
    }
    40%{
        transform: translate(50px, -130px);
    }
    60%{
        transform: translate(50px, 130px);
    }
    80%{
        transform: translate(-100px, 0px);
    }
    90%{
        transform: translate(-190px, 130px);
    }
    100%{
        transform: translate(-200px, -130px);
    }
}

