body{
    width: 100%;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* premiere partie */
#livraison{
    background-color: rgb(235, 116, 152);
    padding: 8px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: small;
    margin-bottom: 5px;
}
/* okay */
/* deuxieme partie */
#connexion{
    display: flex;
    justify-content: space-between;
}

#recherche{
    margin-top: 20px;
}

input{
    width: 350px;
    padding: 6px;
    border: 0.5px solid black;
    border-radius: 15px;
    margin-left: 20px;
    background-color: rgb(241, 236, 236);
}

#connexion div ul{
    display: flex;
}


#connexion div ul li{
    display: flex;
    
}

#connexion div ul li a{
    padding: 10px;
    text-decoration: none;
    color: rgb(235, 116, 152);
    text-transform: uppercase;
    font-size: small;
}
#connexion div ul #separateur a{
    color: black;
}
/* okay */
/* troisieme partie */
#dashboard nav ul{
    display: flex;
    justify-content: space-between;
}

#dashboard nav ul li{
    display: flex;
    margin: auto;    
}

#dashboard nav ul li a{
    display: flex;
    text-transform: uppercase;
    color: rgb(235, 116, 152);
    font-size: larger;
}

#dashboard nav ul li a:hover{
    display: flex;
    text-transform: uppercase;
    color: rgb(235, 116, 152);
    font-size: larger;
}

#container{
    display: none;
    justify-content: space-between;
    z-index: 1;

}

#container div{
    margin: auto;
    background-color: teal;
}
/* okay */
/* quatrieme partie */
#slider{
    margin: auto;
    width: 98%;
    height: 400px;
    background-image: url(../Image/fabellashop/Découvrez-le-pouvoir-éclatant-de-la-vitamine-C-.png);
    margin-bottom: 30px;
    animation-name: slide;
    animation-duration: 120s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;

    -webkit-animation-duration: 120s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;

    -moz-animation-duration: 120s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;

}

@keyframes slide{
    0%{background-image: url(../Image/fabellashop/Découvrez-le-pouvoir-éclatant-de-la-vitamine-C-.png);}
    19%{background-image: url(../Image/fabellashop/Découvrez-le-pouvoir-éclatant-de-la-vitamine-C-.png);}
    20%{background-image: url(../Image/fabellashop/Le-Gloss-prend-de-la-hauteur-.png);}
    39%{background-image: url(../Image/fabellashop/Le-Gloss-prend-de-la-hauteur-.png);}
    40%{background-image: url(../Image/fabellashop/nyx-disciplinez-sourcil.jpg);}
    59%{background-image: url(../Image/fabellashop/nyx-disciplinez-sourcil.jpg);}
    60%{background-image: url(../Image/fabellashop/NOUVELLE-GAMME-À-LHUILE-DE-PÉPINS-DE-RAISIN.png);}
    79%{background-image: url(../Image/fabellashop/NOUVELLE-GAMME-À-LHUILE-DE-PÉPINS-DE-RAISIN.png);}
    80%{background-image: url(../Image/fabellashop/LE-MEILLEUR-POUR-MAMAN-1.png);}
    99%{background-image: url(../Image/fabellashop/LE-MEILLEUR-POUR-MAMAN-1.png);}
}

@-webkit-keyframes slide{
    0%{background-image: url(../Image/fabellashop/Découvrez-le-pouvoir-éclatant-de-la-vitamine-C-.png);}
    19%{background-image: url(../Image/fabellashop/Découvrez-le-pouvoir-éclatant-de-la-vitamine-C-.png);}
    20%{background-image: url(../Image/fabellashop/Le-Gloss-prend-de-la-hauteur-.png);}
    39%{background-image: url(../Image/fabellashop/Le-Gloss-prend-de-la-hauteur-.png);}
    40%{background-image: url(../Image/fabellashop/nyx-disciplinez-sourcil.jpg);}
    59%{background-image: url(../Image/fabellashop/nyx-disciplinez-sourcil.jpg);}
    60%{background-image: url(../Image/fabellashop/NOUVELLE-GAMME-À-LHUILE-DE-PÉPINS-DE-RAISIN.png);}
    79%{background-image: url(../Image/fabellashop/NOUVELLE-GAMME-À-LHUILE-DE-PÉPINS-DE-RAISIN.png);}
    80%{background-image: url(../Image/fabellashop/LE-MEILLEUR-POUR-MAMAN-1.png);}
    99%{background-image: url(../Image/fabellashop/LE-MEILLEUR-POUR-MAMAN-1.png);}
}

@-moz-keyframes slide{
    0%{background-image: url(../Image/fabellashop/Découvrez-le-pouvoir-éclatant-de-la-vitamine-C-.png);}
    19%{background-image: url(../Image/fabellashop/Découvrez-le-pouvoir-éclatant-de-la-vitamine-C-.png);}
    20%{background-image: url(../Image/fabellashop/Le-Gloss-prend-de-la-hauteur-.png);}
    39%{background-image: url(../Image/fabellashop/Le-Gloss-prend-de-la-hauteur-.png);}
    40%{background-image: url(../Image/fabellashop/nyx-disciplinez-sourcil.jpg);}
    59%{background-image: url(../Image/fabellashop/nyx-disciplinez-sourcil.jpg);}
    60%{background-image: url(../Image/fabellashop/NOUVELLE-GAMME-À-LHUILE-DE-PÉPINS-DE-RAISIN.png);}
    79%{background-image: url(../Image/fabellashop/NOUVELLE-GAMME-À-LHUILE-DE-PÉPINS-DE-RAISIN.png);}
    80%{background-image: url(../Image/fabellashop/LE-MEILLEUR-POUR-MAMAN-1.png);}
    99%{background-image: url(../Image/fabellashop/LE-MEILLEUR-POUR-MAMAN-1.png);}
}
/* okay */
/* cinquieme */
#photoRonde{
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin-top: 40px;
}

#photoRonde #premiere{
    width: 160px;
    height: 160px;
    margin-left: 30px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    background-image: url(../Image/fabellashop/masque-neutrogena-300x300.jpg);
    background-size: contain;
    border: 1px solid gray;

}

#photoRonde #deuxieme{
    width: 160px;
    height: 160px;
    margin-left: 30px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    background-image: url(../Image/fabellashop/LES-SECRETS-DE-LOLY-Duo-Curls-Kids-2-300x300.jpg);
    background-size: contain;
    border: 1px solid gray;
}

#photoRonde #troisieme{
    width: 160px;
    height: 160px;
    margin-left: 30px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    background-image: url(../Image/fabellashop/Olori-1-palette-300x300.jpg);
    background-size: contain;
    border: 1px solid gray;
}
#photoRonde #quatrieme{
    width: 160px;
    height: 160px;
    margin-left: 30px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    background-image: url(../Image/fabellashop/svr-topialyse-creme-400ml-300x300.jpg);
    background-size: contain;
    border: 1px solid gray;
}
#photoRonde #cinquieme{
    width: 160px;
    height: 160px;
    margin-left: 30px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    background-image: url(../Image/fabellashop/JEAN-PAUL-GAULTIER-La-Belle-LEau-de-Parfum-300x300.jpg);
    background-size: contain;
    border: 1px solid gray;
}
#photoRonde #sixieme{
    width: 160px;
    height: 160px;
    margin-left: 30px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    background-image: url(../Image/fabellashop/rasage2-300x183.png);
    background-size: 150%;
    background-position-x: -40px;
    background-repeat: no-repeat;
    border: 1px solid gray;
    /* background-position-x: -10px; */
}
#soinDuVisageCheveux{
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 98%;
    height: 90px;
    text-align: justify;
    text-transform: uppercase;
    margin-top: -25px;
    position: relative;
    z-index: 1;
}
/* #soinDuVisage {
    
   
}
#cheveux{
    
   
}
#maquillage{
    
  
}
#soinsDuCorps{
    /* margin-left: -30px; */
    
   
/* }
#parfums{
    /* margin-left: -30px; */
    
   
/* }
#hommes{
    /* margin-left: -30px; */
    
    
/*  */