* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 00vh;
  background: #273250;
  display: flex;
  justify-content: center;
}

nav {
  width: 100%;
  position: relative;
  display: flex;
  top: 10em;
  left: 5em;
  justify-content: center;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 50px;
  background: #e6e6e644;
  padding: 20px;
}

nav ul li {
  list-style: none;
  position: relative;
  width: calc(100% * 5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  cursor: pointer;
  border-radius: 2px;
}

nav ul li:before {
  content: "";
  position: absolute;
  left: 0;
  /*top: 5px;*/
  right: 0;
  bottom: 5px;
  width: 100%;
  height: 5px;
  z-index: 1;
  border-radius: 2px;
  transition: 0.7s;
}

nav ul li:hover:before {
  background: #1abc9c;
}

nav ul li:hover a {
  color: #1abc9c;
}

nav ul li {
  text-decoration: none;
  color: white;
  z-index: 11;
  text-transform: uppercase;
  font-size: 12px;
  transition: 0.5s;
}

a {
  margin: 20px;
  color: white;
}
