body {
  padding: 0px;
  margin: 0px;
}
fieldset {
  margin-top: 70px;
  width: 27%;
  background-color: #318ce7;
  box-shadow: 5px 5px 20px 1px 10px rgb(85, 85, 85);
  border: 0px;
  padding-left: 10px;
  border-radius: 10px 10px 10px 10px;
  color: white;
  height: 460px;
}
td {
  letter-spacing: 1px;
}
td:hover {
  color: red;
}
h1 {
  font-family: andalus;
  letter-spacing: 3px;
  text-align: center;
  color: white;
}
hr {
  border: 3px solid white;
  border-radius: 10px;
  width: 300px;
}
ul li {
  margin-left: 20px;
  color: white;
}
#submit {
  margin: 20px 35px;
  color: #318ce7;
  background-color: white;
  width: 300px;
  font-size: 17px;
  border-radius: 20px;
  border: 1px solid white;
}
#submit:hover {
  color: red;
  background-color: #318ce7;
}
input {
  font-size: 16px;
  border: none;
  outline: none;
  /*background: none;*/
  border-bottom: 1px solid white;
  color: #318ce7;
  width: 100%;
}
